* {
    box-sizing: border-box;
}

h1, h3 {
    text-align: center;
}

nav {
    border: solid red;
}

.board {
    border: solid red;
    text-align: center;
    height: 700px;
    width: 700px;
}

.a, .b, .c, .d {
    display: grid;
    height: 250px;
}

