* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-height: 100%;
    background-color:  #F7F4EF;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: #F15851;
    font-size: 50px;
    margin-bottom: 0px;
}

h3 {
    color: #56C7F5;
    margin-top: 0px;
}

h1, h3 {
    text-align: left;
    font-family: 'futura', sans-serif;
}

nav {
    width: 100vw;
    max-width: 100%;
    position: fixed;
    background-color: #ECD07E;
}

.nav {
    display: flex;
}

.home {
    font-family: 'futura', sans-serif;
    font-size: 16px;
    background-color: #E7E5DE;
}

.links {
    font-family: 'futura', sans-serif;
    text-decoration: none;
    color: #F15851;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 12px;
}

.board {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    height: 600px;
    width: 900px;
}

.flex {
    display: flex;
    align-items: space-around;
    justify-content: center;
    align-items: center;
}

.question {
    color: #392420;
    font-family: 'Open Sans', sans-serif;
}

.a, .b, .c, .d {
    height: 300px;
    margin: 10px;
}

.a {
    margin-left: 0px;
}

.question, .bonus {
    font-family: 'futura', sans-serif; 
    font-size: 16px;
    width: 870px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.next {
    font-family: 'futura', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    background-color: #E7E5DE;
}

/* @media screen and (max-width: 250px) {
    .nav {
        display: flex;
    }
    h1, h3 {
        text-align: left;
        position: fixed;
    }
    .board {
        position: fixed;
        margin-top: 25%;
    }
  } */